ymlchecker: perf
spring:
  profiles:
    default: local
  config:
    import:
      - secret.yml
  h2:
    console:
      enabled: true
      path: /h2
  data:
    mongodb:
      uri: mongodb+srv://S10P12A408:RXX5SL2upK@ssafy.ngivl.mongodb.net/S10P12A408?authSource=admin
  jpa:
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
        generate-ddl: true
    generate-ddl: true
    hibernate:
      ddl-auto: create
  #  datasource:
  #    driver-class-name: org.mariadb.jdbc.Driver
  #    username: root
  #    password: 1q2w3e3r
  #    url: jdbc:mariadb://192.168.219.100:3307/goumunity?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8


  servlet:
    multipart:
      max-request-size: 5MB
      max-file-size: 5MB
  redis:
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 2
    port: 6379
    #    host: redis
    host: localhost
    password:

server:
  tomcat:
    max-swallow-size: 10MB
  servlet:
    session:
      cookie:
        http-only: true
        path: /
        secure: true
        same-site: none
session:
  key:
    user : LOGIN_USER
api:
  url:
    login: /api/users/login

runtime:
  logtype: local

---
spring:
  config:
    activate:
      on-profile: perf
  redis:
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 2
    port: 6379
    host: 192.168.219.100
    password:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: 1q2w3e3r
    url: jdbc:mariadb://192.168.219.100:3307/goumunity?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
  jpa:
    hibernate:
      ddl-auto: none